{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Привет, мир!</h1>
  <p class="lead"><i>Меня зовут Артем. Я являюсь создателем данного творения.<br>
  У меня нет базы программирования и это для меня новый мир, полный неизведанного и неизвестного.<br>
  По профессии я ведущий специалист дистанционного контроля качества Фреш в корпорации зла "Магнит".<br>
  Я занимаюсь тем, что через камеры trassir контролирую работу приемщиков. Кручу камеры и фиксирую гнилые овощи и фрукты, которые нам привозят.<br>
  А изменю я свою жизнь координально! Я не боюсь трудностей на своем пути! Я перейду в сферу IT, чтобы больше не думать о гнилых томатах. А быть на пути к самосовершенствованию.</i>
  </p>
  <hr class="my-4">
  <p>Ссылка на github.com</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://github.com/Bazilit" role="button">Learn more</a>
  </p>
</div>
{% endblock %} 